# python 기초
---

## 1. 입력 및 출력

In [1]:
print("안녕하세요")
print("Hi")

안녕하세요
Hi

In [2]:
a = 9
b = 5
print( a + b )    # 더하기
print( a - b )    # 빼기
print( a * b )    # 곱하기
print( a / b )    # 나누기
print( a // b )   # 나눈 몫
print( a % b )    # 나눈 나머지

14
4
45
1.8
1
4

In [3]:
print('파이썬', '데이터분석','기초','데이터수집')
print('파이썬', '데이터분석','기초','데이터수집',sep=' / ')

파이썬 데이터분석 기초 데이터수집
파이썬 / 데이터분석 / 기초 / 데이터수집

## 2. 리스트

In [4]:
print( '1번','2번','3번','4번','5번','6번','7번','8번','9번','10번')
class_2_1= [ '1번','2번','3번','4번','5번','6번','7번','8번','9번','10번' ] 
print(class_2_1)

1번 2번 3번 4번 5번 6번 7번 8번 9번 10번
['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번', '9번', '10번']

In [5]:
k    =   ['a','b','c','d','e']
print( k[1] )
print( k[ 1 : 3 ] )         
print( k[ -4 : -2 ] )

b
['b', 'c']
['b', 'c']

In [6]:
l1 = ['a']
l2 = ['b','c','e']
print(l1 + l2)    
print(l2 + l1)

['a', 'b', 'c', 'e']
['b', 'c', 'e', 'a']

In [7]:
l1 = ['a']
l2 = ['b','c','e']
l1.append(l2)      
print(l1)

['a', ['b', 'c', 'e']]

## 3. 반복문

In [8]:
fruits = ['바나나','사과','딸기','배','감']
for fruit in fruits:
    print(fruit)

바나나
사과
딸기
배
감

## 4. 문자열

In [9]:
s = '문자'
print(s)

문자

In [10]:
a = "사과"
b = "망고, 파인애플"
ab = a + b
print(ab)

사과망고, 파인애플

In [11]:
z = "*"
print( z * 10)

**********

In [12]:
m='01'
d='14'
y='2022'
print('today is {} {} {}'.format(y,m,d))

today is 2022 01 14

In [13]:
k="가나다라마바"
print(k[2])      
print(k[-1])     
print(k[2:5])    
print(k[3:])

다
바
다라마
라마바

In [14]:
t1 = "   hp010-0000-0000   "
print(t1)
t2 = t1.strip()   # 공백 제거 
print(t2)

   hp010-0000-0000
hp010-0000-0000

In [15]:
t3 = t2.replace('hp', ' ')  # 'hp' 공백으로 대체 
print(t3)      
t4 = t3.split('-')
print(t4)

 010-0000-0000
[' 010', '0000', '0000']

## 5. 조건문

In [16]:
price = 5000
if price > 3000:
    print('비싸다')
else:
    print('저렴하다')

비싸다

## 6. 함수

In [17]:
def say_name(name):
    print('안녕하세요')
    print('제 이름은 ' + name + '입니다')

say_name( 'EunjiCho' )

안녕하세요
제 이름은 EunjiCho입니다

In [18]:
def calcul(a,b):
    result = a**b
    return result

test = calcul(10,3)
print(test)

1000