# 제어문

### 1. If문
* 참과 거짓을 판단하는 문장
* 비교연산자 '< > == != >= <=' 사용
* or, and, not 사용

In [1]:
v1=1
print((v1>=3)and(v1<=7))
print((v1>=3)&(v1<=7))
print((v1<=3)or(v1>=7))
print((v1<=3)|(v1>=7))
print(not(v1==1))

False
False
True
True
False

In [2]:
# in, not in
print(1 in [1,2,3])
print(1 not in [1,2,3])

True
False

In [3]:
# 1~100 까지 더하는데 2000이 넘을 때 k와 더한 수를 구하여라
isum=0
for i in range(1,101):
    isum+=i
    if isum>=2000:
        print('k = ',i,'sum = ',isum)
        break

k =  63 sum =  2016

### 2. while 문

while 조건:

    수행 문장
    
    수행 문장
    
    ...

In [4]:
prompt = """
... 1. Add
... 2. Del
... 3. List
... 4. Quit
...
... Enter number: """
number = 0
while number != 4:
    print(prompt)
    number = int(input())

1. Add
2. Del
3. List
4. Quit

Enter number:
4

### 3. for문

for 변수 in 리스트:

    수행 문장
    
    수행 문장
    
    ...

In [5]:
test_list = ['one', 'two', 'three'] 
for i in test_list: 
    print(i)

one
two
three

"총 5명의 학생이 시험을 보았는데 시험 점수가 60점이 넘으면 합격이고 그렇지 않으면 불합격이다. 합격인지 불합격인지 결과를 보여 주시오."

In [6]:
marks = [90, 25, 67, 45, 80]
n=0
for i in marks:
    n+=1
    if i>60:
        print(n,' : 합격')
    else:
        print(n,' : 불합격')

1  : 합격
2  : 불합격
3  : 합격
4  : 불합격
5  : 합격

앞에서 for문 응용 예제를 그대로 사용해서 60점 이상인 사람에게는 축하 메시지를 보내고 나머지 사람에게는 아무 메시지도 전하지 않는 프로그램을 에디터를 사용해 작성해 보자.

In [7]:
marks = [90, 25, 67, 45, 80]
n=0
for i in marks:
    n+=1
    if i>60:
        print(n,' : 합격 축하!')
    else:
        continue

1  : 합격 축하!
3  : 합격 축하!
5  : 합격 축하!

In [8]:
# range
# 구구단
for i in range(2,10):
    for j in range(1, 10):
        print(i*j, end=" ") 
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [9]:
# comprehension
a = [1,2,3,4]
result = []
for num in a:
    result.append(num*3)
print(result)

result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]
[3, 6, 9, 12]

### Exe

다음 코드의 결괏값은 무엇일까?

a = "Life is too short, you need python"

if "wife" in a: print("wife")

elif "python" in a and "you" not in a: print("python")

elif "shirt" not in a: print("shirt")

elif "need" in a: print("need")

else: print("none")

In [10]:
a = "Life is too short, you need python"
if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

In [11]:
res=0
i=1
while i<=1000:
    if i%3==0:
        res+=i
    i+=1
print(res)

166833

while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.

*

**

\***

\****

\*****

In [12]:
i = 0
while True:
    i += 1
    if i > 5: break
    print('*' * i)

*
**
***
****
*****

for문을 사용해 1부터 100까지의 숫자를 출력해 보자.

In [13]:
for i in range(100):
    print(i+1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [14]:
a=[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
res=0
for i in a:
    res+=i
avg=res/len(a)
print(avg)

79.0

리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.

numbers = [1, 2, 3, 4, 5]

result = []

for n in numbers:
    
    if n % 2 == 1:
        
        result.append(n*2)
        
위 코드를 리스트 내포(list comprehension)를 사용하여 표현해 보자.

In [15]:
numbers = [1, 2, 3, 4, 5]
result = [n*2 for n in numbers if n%2==1]
print(result)

[2, 6, 10]