# Seoul Temperature analysis

###### Temperature dataset : https://data.kma.go.kr/stcs/grnd/grndTaList.do?pgmNo=70
###### 19040101 ~ 20201231, Seoul
###### Data root : ../data/seoul.csv

In [15]:
# import library

import csv

In [18]:
d_pth='../data/seoul.csv'
f=open(d_pth,'r')
rd=csv.reader(f)
n=1# 결과 중략을 위함
for line in rd:
    print(line)
    n+=1
    if n==30:
        break
f.close()

['기온분석']
['[검색조건]']
['자료구분 : 일']
['자료형태 : 기본']
['지역/지점 : 서울']
['기간 : 19040101~20190117']
[]
['날짜', '지점', '평균기온(℃)', '최저기온(℃)', '최고기온(℃)']
['1907-10-01', '108', '13.5', '7.9', '20.7']
['1907-10-02', '108', '16.2', '7.9', '22']
['1907-10-03', '108', '16.2', '13.1', '21.3']
['1907-10-04', '108', '16.5', '11.2', '22']
['1907-10-05', '108', '17.6', '10.9', '25.4']
['1907-10-06', '108', '13', '11.2', '21.3']
['1907-10-07', '108', '11.3', '6.3', '16.1']
['1907-10-08', '108', '8.9', '3.9', '14.9']
['1907-10-09', '108', '11.6', '3.8', '21.1']
['1907-10-10', '108', '14.2', '6.4', '24.1']
['1907-10-11', '108', '15.4', '10.1', '20.4']
['1907-10-12', '108', '13.9', '11.1', '17.4']
['1907-10-13', '108', '13.8', '8.3', '21.3']
['1907-10-14', '108', '13', '6.1', '20.6']
['1907-10-15', '108', '13.1', '5.7', '20.9']
['1907-10-16', '108', '14.1', '8.2', '20.2']
['1907-10-17', '108', '16.4', '10.3', '21.6']
['1907-10-18', '108', '14.3', '9.8', '20.9']
['1907-10-19', '108', '13.9', '6.7', '21.3']
['1907-10-20', '108', '18.3', '12.4', '22.7']
['1907-10-21', '108', '15.2', '10.7', '19.9']

In [25]:
# 데이터 전후에 필요없는 부분 제거한 후 data 변수에 저장
f=open(d_pth,'r')
rd=csv.reader(f)
data=[]          # data를 저장할 빈 리스트 생성
len_col=5        # columns 길이
for line in rd:
    if len(line)==5:
        data.append(line)
f.close()

In [27]:
data[0:30]

[['날짜', '지점', '평균기온(℃)', '최저기온(℃)', '최고기온(℃)'],
 ['1907-10-01', '108', '13.5', '7.9', '20.7'],
 ['1907-10-02', '108', '16.2', '7.9', '22'],
 ['1907-10-03', '108', '16.2', '13.1', '21.3'],
 ['1907-10-04', '108', '16.5', '11.2', '22'],
 ['1907-10-05', '108', '17.6', '10.9', '25.4'],
 ['1907-10-06', '108', '13', '11.2', '21.3'],
 ['1907-10-07', '108', '11.3', '6.3', '16.1'],
 ['1907-10-08', '108', '8.9', '3.9', '14.9'],
 ['1907-10-09', '108', '11.6', '3.8', '21.1'],
 ['1907-10-10', '108', '14.2', '6.4', '24.1'],
 ['1907-10-11', '108', '15.4', '10.1', '20.4'],
 ['1907-10-12', '108', '13.9', '11.1', '17.4'],
 ['1907-10-13', '108', '13.8', '8.3', '21.3'],
 ['1907-10-14', '108', '13', '6.1', '20.6'],
 ['1907-10-15', '108', '13.1', '5.7', '20.9'],
 ['1907-10-16', '108', '14.1', '8.2', '20.2'],
 ['1907-10-17', '108', '16.4', '10.3', '21.6'],
 ['1907-10-18', '108', '14.3', '9.8', '20.9'],
 ['1907-10-19', '108', '13.9', '6.7', '21.3'],
 ['1907-10-20', '108', '18.3', '12.4', '22.7'],
 ['1907-10-21', '108', '15.2', '10.7', '19.9'],
 ['1907-10-22', '108', '15.4', '12.1', '19.6'],
 ['1907-10-23', '108', '13.1', '8.1', '16.3'],
 ['1907-10-24', '108', '9.7', '3.3', '17.1'],
 ['1907-10-25', '108', '12.7', '6.2', '18.7'],
 ['1907-10-26', '108', '11.8', '7.2', '18.2'],
 ['1907-10-27', '108', '14', '7.7', '20.7'],
 ['1907-10-28', '108', '13.8', '8.4', '19.6'],
 ['1907-10-29', '108', '14.3', '10.7', '20']]

In [5]:
header=data[0]
data=data[1:]
header

['날짜', '지점', '평균기온(℃)', '최저기온(℃)', '최고기온(℃)']

In [6]:
data[0]

['1907-10-01', '108', '13.5', '7.9', '20.7']

In [7]:
# 데이터 중 최고 기온과 해당하는 날짜 찾기
max_tmp=-999
max_date=''

# 최고기온 빈부분 채우기
for i in range(len(data)):
    if data[i][-1]=='':
        data[i][-1]=max_tmp

In [8]:
for i in range(len(data)):
    if max_tmp<float(data[i][-1]):
        max_tmp=float(data[i][-1])
        
        max_data=data[i][0]

In [9]:
# 데이터 중 최고 기온과 해당하는 날짜 찾기
max_tmp=-999
max_date=''
for i in range(len(data)):
    if max_tmp<float(data[i][-1]):
        max_tmp=float(data[i][-1])
        max_data=data[i][0]
print('최고기온 : ',max_tmp,', 그 날짜 : ',max_data)

최고기온 :  39.6 , 그 날짜 :  2018-08-01

### pandas library를 사용해서 해보기

In [10]:
#import library
import pandas as pd

In [11]:
d_pth='../data/seoul.csv'
data=pd.read_csv(d_pth,skiprows=7,encoding='cp949')
data

               날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0      1907-10-01  108     13.5      7.9     20.7
1      1907-10-02  108     16.2      7.9     22.0
2      1907-10-03  108     16.2     13.1     21.3
3      1907-10-04  108     16.5     11.2     22.0
4      1907-10-05  108     17.6     10.9     25.4
...           ...  ...      ...      ...      ...
40216  2019-01-13  108      1.2     -3.0      7.6
40217  2019-01-14  108      1.4     -2.4      5.3
40218  2019-01-15  108     -1.7     -7.2      2.6
40219  2019-01-16  108     -5.2    -10.1     -1.1
40220  2019-01-17  108     -0.3     -3.2      4.0

[40221 rows x 5 columns]

In [12]:
# 결측값 확인
data.isnull().sum()

날짜           0
지점           0
평균기온(℃)    756
최저기온(℃)    758
최고기온(℃)    759
dtype: int64

In [13]:
# 결측값 대체
data=data.fillna(-999)
data.isnull().sum()

날짜         0
지점         0
평균기온(℃)    0
최저기온(℃)    0
최고기온(℃)    0
dtype: int64

In [14]:
max_tmp=data['최고기온(℃)'].max()
data.iloc[data['최고기온(℃)'].idxmax()]
max_date=data.iloc[data['최고기온(℃)'].idxmax()][0]
print('최고기온 : ',max_tmp,'날짜 : ',max_date)

최고기온 :  39.6 날짜 :  2018-08-01