# Decision Tree
---
1. Decision tree weather data

In [1]:
import pandas as pd
data=pd.read_csv('./datasets/weather.csv',sep=',')

In [2]:
data

     outlook temperature humidity  windy play
0   overcast         hot     high  False  yes
1   overcast        cool   normal   True  yes
2   overcast        mild     high   True  yes
3   overcast         hot   normal  False  yes
4      rainy        mild     high  False  yes
5      rainy        cool   normal  False  yes
6      rainy        cool   normal   True   no
7      rainy        mild   normal  False  yes
8      rainy        mild     high   True   no
9      sunny         hot     high  False   no
10     sunny         hot     high   True   no
11     sunny        mild     high  False   no
12     sunny        cool   normal  False  yes
13     sunny        mild   normal   True  yes

In [3]:
outlook_dic={'overcast':0,'rainy':1,'sunny':2}
temp_dic={'cool':0,'hot':1,'mild':2}
hum_dic={'high':0,'normal':1}
windy_dic={False:0,True:1}

data['outlook']=data['outlook'].map(outlook_dic)
data['temperature']=data['temperature'].map(temp_dic)
data['humidity']=data['humidity'].map(hum_dic)
data['windy']=data['windy'].map(windy_dic)

In [4]:
data

    outlook  temperature  humidity  windy play
0         0            1         0      0  yes
1         0            0         1      1  yes
2         0            2         0      1  yes
3         0            1         1      0  yes
4         1            2         0      0  yes
5         1            0         1      0  yes
6         1            0         1      1   no
7         1            2         1      0  yes
8         1            2         0      1   no
9         2            1         0      0   no
10        2            1         0      1   no
11        2            2         0      0   no
12        2            0         1      0  yes
13        2            2         1      1  yes

In [5]:
from sklearn import tree
clf=tree.DecisionTreeClassifier()
clf

DecisionTreeClassifier()

In [6]:
clf.fit(data.iloc[:,:4],data['play'])

DecisionTreeClassifier()

In [7]:
clf.predict([[2,2,0,1]])

C:\Users\kk135\Anaconda3\envs\bigdata\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['no'], dtype=object)

In [8]:
clf.predict([[1,2,0,1]])

C:\Users\kk135\Anaconda3\envs\bigdata\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['no'], dtype=object)

---
2. Decision tree iris data

In [9]:
from sklearn.datasets import load_iris

iris=load_iris()

iris_df=pd.DataFrame(iris.data,columns=iris.feature_names)
iris_df['species']=iris.target

iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [13]:
clf=tree.DecisionTreeClassifier()
clf.fit(iris_df.iloc[:,:4],iris_df['species'])

DecisionTreeClassifier()

In [14]:
clf.predict([[5,3.2,1.3,.2]])

C:\Users\kk135\Anaconda3\envs\bigdata\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0])