# naive bayes
---
1.weather 데이터 가공

In [1]:
import pandas as pd

data=pd.read_csv('./weather.csv')
data

     outlook temperature humidity  windy play
0   overcast         hot     high  False  yes
1   overcast        cool   normal   True  yes
2   overcast        mild     high   True  yes
3   overcast         hot   normal  False  yes
4      rainy        mild     high  False  yes
5      rainy        cool   normal  False  yes
6      rainy        cool   normal   True   no
7      rainy        mild   normal  False  yes
8      rainy        mild     high   True   no
9      sunny         hot     high  False   no
10     sunny         hot     high   True   no
11     sunny        mild     high  False   no
12     sunny        cool   normal  False  yes
13     sunny        mild   normal   True  yes

In [2]:
outlook_dic={'overcast':0,'rainy':1,'sunny':2}
temp_dic={'cool':0,'hot':1,'mild':2}
hum_dic={'high':0,'normal':1}
windy_dic={False:0,True:1}


data['outlook']=data['outlook'].map(outlook_dic)
data['temperature']=data['temperature'].map(temp_dic)
data['humidity']=data['humidity'].map(hum_dic)
data['windy']=data['windy'].map(windy_dic)

---
2. 모델 학습 (MultinomialNB)

In [3]:
from sklearn.naive_bayes import MultinomialNB

multinomial_model=MultinomialNB()
multinomial_model.fit(data.iloc[:,:4],data['play'])

MultinomialNB()

---
3. 예측

In [4]:
multinomial_model.predict([[1,2,0,1]])

C:\Users\kk135\Anaconda3\envs\bigdata\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(

array(['yes'], dtype='<U3')

In [5]:
multinomial_model.predict_proba([[2,2,0,1]])

C:\Users\kk135\Anaconda3\envs\bigdata\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(

array([[0.57311795, 0.42688205]])

---
4. iris 데이터 로드

In [6]:
from sklearn.datasets import load_iris

iris=load_iris()

iris_df=pd.DataFrame(iris.data,columns=iris.feature_names)
iris_df['species']=iris.target

iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

---
5. 모델 학습 (MultinomialNB)

In [7]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

gaussian_model=GaussianNB()
xt,xv,yt,yv=train_test_split(iris_df.iloc[:,:4],
                            iris_df['species'],
                            test_size=.33)
gaussian_model.fit(xt,yt)

GaussianNB()

---
6. 성능평가

In [8]:
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(yv,gaussian_model.predict(xv)))
print(confusion_matrix(yv,gaussian_model.predict(xv)))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        18
           1       0.86      1.00      0.92        12
           2       1.00      0.90      0.95        20

    accuracy                           0.96        50
   macro avg       0.95      0.97      0.96        50
weighted avg       0.97      0.96      0.96        50

[[18  0  0]
 [ 0 12  0]
 [ 0  2 18]]