# 자료형

모듈(module)

    - 패키지(함수의 묶음)
    - import라는 함수로 모듈 호출(로딩)

### 숫자형

In [1]:
# 정수형(Integer)

a=123
a=-123

In [2]:
# 실수형(Floating_point)

a=1.23
a=-1.23

In [3]:
# 컴퓨터식 지수 표현 방식

a=1.23e-10    # 1.23*10^-10

In [4]:
# 8진수와 16진수

a=0o123    # 0o 또는 0O로 시작하면 8진수
b=0xabc    # 0x로 시작하면 16진수
print(a, b)

83 2748

In [5]:
# 사칙연산

a=3
b=4
print('a+b =', a+b)
print('a-b =', a-b)
print('a*b =', a*b)
print('a/b =', a/b)

a+b = 7
a-b = -1
a*b = 12
a/b = 0.75

In [6]:
# 제곱
print('a의 b제곱 =', a**b)
#or 
import math
math.pow(a,b)

a의 b제곱 = 81

81.0

In [7]:
# 나눗셈의 나머지 반환

print('7/3의 나머지 =', 7%3)
print('3/7의 나머지 =', 3%7)

7/3의 나머지 = 1
3/7의 나머지 = 3

In [8]:
# 나눗셈의 몫 반환

print('7/3의 몫 =', 7//3)
print('3/7의 몫 =', 3//7)

7/3의 몫 = 2
3/7의 몫 = 0

### 문자열

In [9]:
# 문자열 생성 방법
    
a="Hello"     # 1. 큰따옴표
b='Hello'     # 2. 작은따옴표
c="""Hello""" # 3. 큰따옴표 세개
d='''Hello''' # 4. 작은따옴표 세개
print(a,b,c,d)

Hello Hello Hello Hello

In [10]:
# 문자열 안에 작은따옴표 혹은 큰따옴표를 포함시키기
# 작은따옴표 포함
a="'Hello'"
print(a)
# 큰따옴표 포함
a='"Hello"'
print(a)
# 백슬래시 사용
a='\"hello\''
print(a)

'Hello'
"Hello"
"hello'

In [11]:
# 여러줄의 문자열 생성
a='Hello\nHi'    # \n : 줄바꿈
print(a)
a='''Hello
Hi'''
print(a)
a="""Hello
Hi"""
print(a)

Hello
Hi
Hello
Hi
Hello
Hi

In [12]:
# 이스케이프 코드
print('Hello\nworld')        # \n : 줄바꿈
print('Hello\tworld')        # \t : 탭키
print('Hello\\world')        # \\ : \표현
print('Hello\'world')        # \' : '표현
print('Hello\"world')        # \": "표현
print('Hello\rworld')        # \r: 커서를 다시 앞으로 이동
print('Hello\fworld')        # \f: 커서를 다음줄로 이동

Hello
world
Hello	world
Hello\world
Hello'world
Hello"world
world
Helloworld

In [13]:
# 문자열 연산
# 더하기
a='Hello'
b='world'
print(a+b)
# 곱하기
print(a*2)
print('='*20)

Helloworld
HelloHello
====================

In [14]:
# 문자열 길이 구하기
a='hello world'
len(a)

11

In [15]:
# 문자열 포매팅
print('hello %d hi'%123)
print('hello %s hi'%'one two three')
a=123
b='one two three'
print('hello %d hi'%a)
print('hello %d %s hi'%(a,b))

hello 123 hi
hello one two three hi
hello 123 hi
hello 123 one two three hi

In [16]:
# %와 %d
print('accuracy : %d%%'%100)
# 정렬과 공백
print('%10s'%'hello')     # 오른쪽 정렬 하고 앞의 10자리 공백
print('%-10shi'%'hello')  # hello를 왼쪽 정렬하고 10자리 공백 후 뒤에 문장 출력

accuracy : 100%
     hello
hello     hi

In [17]:
# 소수점 표현
print('%.4f'%1.23456789)   # 소수점 네자리까지만 나타냄
print('%10.4f'%1.23456789) # 열칸 오른쪽 정렬하고 소수점 네자리 까지만

1.2346
    1.2346

In [18]:
# format 함수
a=123
b='one two three'
print('hello {0} hi'.format(123))
print('hello {0} hi'.format('one two three'))
print('hello {0} hi'.format(a))
print('hello {0} {1} hi'.format(a,b))
print('hello {num} {str} hi'.format(num=123,str='one two three'))
# 정렬
print('{0:<10}'.format('hello'))    # 왼쪽 정렬
print('{0:>10}'.format('hello'))    # 오른쪽 정렬
print('{0:^10}'.format('hello'))    # 가운데 정렬
# 공백 채우기
print("{0:=^10}".format("hello"))   # 가운데 정렬하고 빈공간은 =로 채우기
print("{0:!<10}".format("hello"))   # 왼쪽 정렬하고 빈공간은 !로 채우기
# 소수점
a=1.23456789
print('{0:0.4f}'.format(a))
print('{0:10.4f}'.format(a))
# { 또는 } 표현
print('{{Hello}}'.format())

hello 123 hi
hello one two three hi
hello 123 hi
hello 123 one two three hi
hello 123 one two three hi
hello
     hello
  hello
==hello===
hello!!!!!
1.2346
    1.2346
{Hello}

In [19]:
# f 문자열 포매팅
# 문자열 앞에 f를 붙여서 사용
a='one'
b=1
print(f'str is {a}, and int is {b}')
print(f'next int is {b+1}')
# 딕셔너리
a={'str':'one','int':1}
print(f'str is {a["str"]}, and int is {a["int"]}')

str is one, and int is 1
next int is 2
str is one, and int is 1

In [20]:
# 정렬
print(f'{"hi":<10}')  # 왼쪽 정렬
print(f'{"hi":>10}')  # 오른쪽 정렬
print(f'{"hi":^10}')  # 가운데 정렬
print(f'{"hi":=^10}')
print(f'{"hi":!<10}')
a = 1.23456789
print(f'{a:0.4f}')
print(f'{a:10.4f}')

hi
        hi
    hi
====hi====
hi!!!!!!!!
1.2346
    1.2346

In [21]:
# 문자열 관련 함수
# count : 문자 개수 세기
a='abcde'
b='aBcDe'
c='        a  b  C  d  E     '
d='1,2,3,4,5'
print(a.count('c'))
print(a.find('c'))           # 찾으려는 문자열이 없으면 -1 반환
print(a.index('c'))          # 찾으려는 문자열이 없으면 에러남
print(','.join(a))           # 문자 사이에 , 삽입
print(a.upper())             # 대문자로 변환
print(b.lower())             # 소문자로 변환
print(b.title())             # 열 첫자만 대문자로
print(c.lstrip())            # 왼쪽 공백 지우기
print(c.rstrip())            # 오른쪽 공백 지우기
print(c.strip())             # 양쪽 공백 지우기
print(a.replace('a','AAA'))  # 문자열 바꾸기
print(c.split())             # 문자열 나누기
print(d.split(','))          # ,를 구분자로 문자열을 나누어줌

1
2
2
a,b,c,d,e
ABCDE
abcde
Abcde
a  b  C  d  E
        a  b  C  d  E
a  b  C  d  E
AAAbcde
['a', 'b', 'C', 'd', 'E']
['1', '2', '3', '4', '5']

### 리스트

In [22]:
a=[1,3,5]
b=['one','three','five']
ab=[1,3,5,['one','three','five']]

In [23]:
# 인덱싱
print(a[0])
print(a[0]+a[-1])
print(ab[-1])
print(ab[-1][1])

1
6
['one', 'three', 'five']
three

In [24]:
# 슬라이싱
print(a[0:2])
print(a[2:])

[1, 3]
[5]

In [25]:
# 리스트의 연산
print(a+b)
print(a*2)
print(len(a))

[1, 3, 5, 'one', 'three', 'five']
[1, 3, 5, 1, 3, 5]
3

In [26]:
a=[1,2,3,4,5,6,7,8,9]
a[-1]=6           # 원소 수정
print(a)

del a[-1]         # del : 원소 삭제
print(a)
del a[2:]
print(a)
# or 
a=[1,2,3,4,5,6,7,8,9] # remove : 처음으로 나오는 4를 삭제.
a.remove(4)
print(a)

a.append(3)       # append : 원소 추가
print(a)

a=[1,3,5,2,4,6]
a.sort()          # sort : 정렬
print(a)

a=[1,3,5,2,4,6]
a.reverse()      # reverse : 리스트 뒤집기( 역순 정렬 아님 )
print(a)

print(a.index(5)) # index : 리스트 속 위치 반환 (없으면 오류)

a.insert(0,100)   # insert : 0번째 위치에 100을 삽입
print(a)

a.pop()          # pop : 리스트의 맨 마지막 요소를 반환하고 요소를 삭제
print(a)

a=[1,2,3,1,1,1,1,2,1,3]
print(a.count(1))       # count : 요소의 갯수 반환

a.extend([4,5,6])       # extend : 리스트 확장
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 6]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2]
[1, 2, 3, 5, 6, 7, 8, 9]
[1, 2, 3, 5, 6, 7, 8, 9, 3]
[1, 2, 3, 4, 5, 6]
[6, 4, 2, 5, 3, 1]
3
[100, 6, 4, 2, 5, 3, 1]
[100, 6, 4, 2, 5, 3]
6
[1, 2, 3, 1, 1, 1, 1, 2, 1, 3, 4, 5, 6]

### 튜플

()로 둘러싸임

값을 바꿀 수 없다.

In [27]:
t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

In [28]:
a=(1,2,'a','b')
print(a[0])       # 인덱싱
print(a[1:])      # 슬라이싱

b = (3,4)
print(a+b)        # 튜플 더하기
print(a*3)        # 튜플 곱하기
print(len(a))     # 튜플 길이 구하기

1
(2, 'a', 'b')
(1, 2, 'a', 'b', 3, 4)
(1, 2, 'a', 'b', 1, 2, 'a', 'b', 1, 2, 'a', 'b')
4

### 딕셔너리

In [29]:
a={'one':'1','two':2,'three':'3'}
print(a)

a['four']='4'                   # 딕셔너리 추가하기
print(a)

del a['two']                   # 딕셔너리 삭제하기
print(a)

print(a['one'])                # value 얻기

print(a.keys())                # keys : key 리스트 얻기
print(a.values())              # values : value 리스트 얻기
print(a.items())               # items : 쌍 얻기
a.clear()                      # clear : key, value 모두 지우기
print(a)
a={'one':'1','two':2,'three':'3'}
print(a.get('one'))           # get : key로 value 얻기
print('one' in a)             # in : 딕셔너리 안에 있는지 조사하기
print('four' in a)

{'one': '1', 'two': 2, 'three': '3'}
{'one': '1', 'two': 2, 'three': '3', 'four': '4'}
{'one': '1', 'three': '3', 'four': '4'}
1
dict_keys(['one', 'three', 'four'])
dict_values(['1', '3', '4'])
dict_items([('one', '1'), ('three', '3'), ('four', '4')])
{}
1
True
False

### 집합

- 중복을 허용하지 않음
- 순서가 없음

In [30]:
a=set([1,2,3])
b=set('hello')
print(a)
print(b)

{1, 2, 3}
{'e', 'l', 'h', 'o'}

In [31]:
# 집합 구하기
a=set([1,2,3,4])
b=set([3,4,5,6])
print(a&b)                # 교집합
print(a.intersection(b))  # 교집합
print(a|b)                # 합집합
print(a.union(b))         # 합집합
print(a-b)                # 차집합
print(a.difference(b))    # 차집합

{3, 4}
{3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2}
{1, 2}

In [32]:
a=set([1,2,3,4])
a.add(5)                # add : 값 추가
print(a)
a.update([6,7,8])       # update : 값 여러개 추가
print(a)
a.remove(8)             # remove : 값 제거
print(a)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7}

### 불

문자열, 리스트 등이 비어있으면 False출력

숫자가 0이면 False

In [33]:
a=True
b=False
print(1==1)
print(bool('hello'))
print(bool(''))
print(bool([1,2,3]))
print(bool([]))
print(bool(0))
print(bool(3))

True
True
False
True
False
False
True

### 변수

변수 : 값을 저장하기 위한 객체

    - 변수의 명명 규칙 : 대소 구분, 숫자 시작 불가(숫자 포함 가능), 특수기호 삽입 불가(_ 가능)
    
    - 예약어(함수명, 함수내 인자명, 패키지 이름, ..., if, for, while)

In [34]:
a = [1, 2, 3]
id(a)            # 메모리 주소 출력
b=a
print(id(a),id(b))
print(a is b)

1841759181888 1841759181888
True

In [35]:
a = [1, 2, 3]
b = a[:]                 # a, b의 주소를 다르게 만들음
a[1] = 4
print(a,b)
from copy import copy
a=[1,2,3]
b=copy(a)               # :와 같은 방법
print(b is a)

[1, 4, 3] [1, 2, 3]
False

### EXE

Q1
홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

과목	점수
국어	80
영어	75
수학	55

In [36]:
a,b,c=80,75,55
print((a+b+c)/3)

70.0

Q2
자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

In [37]:
13%2        # 2로 나눈 나머지가 1이므로 홀수. 짝수는 0 출력

1

Q3
홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

※ 문자열 슬라이싱 기법을 사용해 보자.

In [38]:
h_id =  '881120-1068234'
bir=h_id[:6]
num=h_id[7:]
print(bir,num)

881120 1068234

Q4
주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

pin = "881120-1068234"

※ 문자열 인덱싱을 사용해 보자.

In [39]:
pin = "881120-1068234"
print(pin[7])

1

Q5
다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

a = "a:b:c:d"

In [40]:
a = "a:b:c:d"
b=a.replace(':','#')
print(b)

a#b#c#d

Q6
[1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

※ 리스트의 내장 함수를 사용해 보자.

In [41]:
a=[1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

Q7
['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

※ 문자열의 join 함수를 사용하면 리스트를 문자열로 쉽게 만들 수 있다.

In [42]:
a= ['Life', 'is', 'too', 'short']
b= " ".join(a)
print(a)

['Life', 'is', 'too', 'short']

Q8
(1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

※ 더하기(+)를 사용해 보자.

In [43]:
a=(1,2,3)
print(a+(4,))

(1, 2, 3, 4)

Q9
다음과 같은 딕셔너리 a가 있다.

a = dict()
a
{}
다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.

a['name'] = 'python'

a[('a',)] = 'python'

a[[1]] = 'python'

a[250] = 'python'

In [44]:
#  a[[1]] = 'python'               # [1]은 변할 수 있는 값

Q10
딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.

a = {'A':90, 'B':80, 'C':70}
※ 딕셔너리의 pop 함수를 사용해 보자.

In [45]:
a = {'A':90, 'B':80, 'C':70}
print(a.pop('B'))

80

Q11
a 리스트에서 중복 숫자를 제거해 보자.

 a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
※ 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.

In [46]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5] 
b=set(a)
print(b)

{1, 2, 3, 4, 5}

Q12
파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

a = b = [1, 2, 3]

a[1] = 4

print(b)

In [47]:
a = b = [1, 2, 3]

a[1] = 4

print(b)

[1, 4, 3]