# 파이썬 기초
---
## 1. 입력과 출력, 변수

### (1) 출력 ( print() )

In [1]:
print(34759**2)
print("Hello")
print("World")
print(1+1)
print(len("Hello world"))

1208188081
Hello
World
2
11

### (2) 변수

In [2]:
name ="Eunji"
print(name)

print('Hello,',name)
print('Hello,'+name)

Eunji
Hello, Eunji
Hello,Eunji

### (3) 입력 ( input() )

In [3]:
name=input()
print('hello,',name)

Eunji
hello, Eunji

In [4]:
age=input('your age?')
print('age : ',int(age))

your age?27
age :  27

---
## 2. 연산자

### (1) 산술연산

In [5]:
print(3*10)
print(3**10)
print(3%10) # 나머지 연산자
print(3/2)
print(3//2) # 정수 나눗셈

30
59049
3
1.5
1

### (2) 비교연산

In [6]:
print(10 >= 3)
print(10 <= 3)
print(10 == 3)
print(10 != 3)
print(3 % 2 == 1)

True
False
False
True
True

### (3) 논리연산

In [7]:
# and 연산자 
print(1 == 1 and 2 != 1)
print(10 % 2 != 0 and 1+1 > 0)

# or 연산자 
print(10 < 5 or 10 ==5)
print(10 % 2 !=0 or 1+1 > 0)
print(not 10 > 5) # not true 
print(not 10 == 5)
print(not 0)
print(not 10)

True
False
False
True
False
True
True
False

---
## 3. 함수

In [8]:
# random 숫자 범위 바꾸기 
import random 
dice = random.randint(1, 6)
print(dice)
import math 
print(math.sqrt(2))

6
1.4142135623730951

---
## 4. 반복문

In [9]:
name = 'Eunji Cho'
for i in name: 
    print(i)

E
u
n
j
i

C
h
o

In [10]:
names = ['초파','루피','상디','조로']
for n in names : 
    print(n)

초파
루피
상디
조로

In [11]:
for i in [0,1,2,3] :
    print(i ** 2)

0
1
4
9

In [12]:
for i in range(10): 
    print(i ** 2)

0
1
4
9
16
25
36
49
64
81

In [13]:
for i in range(10):
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

---
## 5. 조건문

In [14]:
if 10 > 0: 
    print('Hello')
    
if 10 != 0 and 5 % 2 == 1:
    print('Hello?')
    
passwd = int(input('비밀번호 4자리를 입력하세요:'))
if passwd == 0000 : 
    print('비밀번호가 일치합니다 ')

passwd = int(input('비밀번호 4자리를 입력하세요:'))
if i == 0000:
    print('비밀번호가 일치합니다 ')
else: 
    print('다시 입력해 주세요 ')

Hello
Hello?
비밀번호 4자리를 입력하세요:1234
비밀번호 4자리를 입력하세요:0000
다시 입력해 주세요

---
## 6. 리스트

In [15]:
for i in [0,1,2,3]: 
    print(i ** 2)

0
1
4
9

In [16]:
names = ['초파','루피','상디','조로']
print(names[1])
print(names[-1])
print(names[0:2])
print(names[1:])
print(names[:])
names.append('나미')
print(names)
print(len(names))

루피
조로
['초파', '루피']
['루피', '상디', '조로']
['초파', '루피', '상디', '조로']
['초파', '루피', '상디', '조로', '나미']
5