In [1]:
import time
import random
import numpy as np
import pandas as pd

In [2]:
df=pd.read_excel('../data/물고기표.xlsx')
df

     No1  No2     물고기      가격
0    2.0  6.0  가는꼬리쥐치  1631.0
1    1.0  4.0    가다랑어  2917.0
2    3.0  5.0     가라지  1203.0
3    3.0  4.0   가면놀래기  1751.0
4    1.0  4.0     가숭어  4483.0
..   ...  ...     ...     ...
746  2.0  4.0  흰배환도상어  2116.0
747  2.0  4.0    흰붕장어  7953.0
748  1.0  3.0   흰점꺼끌복  6207.0
749  2.0  4.0    히메성대  9362.0
750  3.0  6.0     히메치  1074.0

[751 rows x 4 columns]

In [3]:
df.describe()

              No1         No2           가격
count  751.000000  751.000000   751.000000
mean     1.972037    4.516644  5384.980027
std      0.795330    1.107274  2610.049134
min      1.000000    3.000000  1010.000000
25%      1.000000    4.000000  3047.000000
50%      2.000000    5.000000  5311.000000
75%      3.000000    5.000000  7672.000000
max      3.000000    6.000000  9990.000000

In [6]:
def fishing():
    print('낚시 시작')
    fish = pd.read_excel('../data/물고기표.xlsx')
    choose=np.array(fish).reshape(-1,4)
    num=random.randint(0,len(fish))
    wnum=random.randint(choose[num][0],choose[num][1])
    time.sleep(wnum)
    print('...')
    print('{} : {}'.format('me',choose[num][3]))
    return wnum  
print(fishing())

낚시 시작
...
me : 7546.0
4

In [ ]:
fish = pd.read_excel('../data/물고기표.xlsx')
choose=np.array(fish).reshape(-1,4)
num=random.randint(0,len(fish))

In [16]:
num

512

In [10]:
random.randint(choose[choose[0]],choose[choose[1]])

TypeError: 'int' object is not subscriptable

In [15]:
num[choose[0]]

TypeError: 'int' object is not subscriptable