# 가장 더운 날 찾기

---

1. 가장 더웠던 날짜와 온도 찾기

In [1]:
# import library
import csv

d_pth='../data/seoul_new.csv'
f=open(d_pth,'r')
rd=csv.reader(f)
header=next(rd)
max_tmp=-999
max_date=''
for row in rd:
    if row[-1]=='':
        row[-1]=-999
    row[-1]=float(row[-1])
    if max_tmp<row[-1]:
        max_date=row[0]
        max_tmp=row[-1]
f.close()
print('최고기온 : ',max_tmp,', 그 날짜 : ',max_date)

최고기온 :  39.6 , 그 날짜 :  2018-08-01

2. pandas library 이용

In [2]:
# using pandas library

#import library
import pandas as pd

d_pth='../data/seoul_new.csv'
data=pd.read_csv(d_pth,encoding='cp949')
data

               날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0      1907-10-01  108     13.5      7.9     20.7
1      1907-10-02  108     16.2      7.9     22.0
2      1907-10-03  108     16.2     13.1     21.3
3      1907-10-04  108     16.5     11.2     22.0
4      1907-10-05  108     17.6     10.9     25.4
...           ...  ...      ...      ...      ...
40216  2019-01-13  108      1.2     -3.0      7.6
40217  2019-01-14  108      1.4     -2.4      5.3
40218  2019-01-15  108     -1.7     -7.2      2.6
40219  2019-01-16  108     -5.2    -10.1     -1.1
40220  2019-01-17  108     -0.3     -3.2      4.0

[40221 rows x 5 columns]

In [3]:
# 결측값 확인
data.isnull().sum()
# 결측값 대체
data=data.fillna(-999)
data.isnull().sum()
max_tmp=data['최고기온(℃)'].max()
data.iloc[data['최고기온(℃)'].idxmax()]
max_date=data.iloc[data['최고기온(℃)'].idxmax()][0]
print('최고기온 : ',max_tmp,'날짜 : ',max_date)

최고기온 :  39.6 날짜 :  2018-08-01